@font-face {
  font-family: 'SatansMinions';
  src:url('./satans-minions/SATAM___.TTF') format('truetype');
  font-weight:normal;
  font-style:normal;
}

body {  
  margin: 0;
  padding: 0;
  font-family: SatansMinions, sans-serif;
  height: 100%;
  width: 100%;
}

html, #root {
  height: 100%;
  width: 100%;
  overflow-y: auto;
  font-family: SatansMinions, sans-serif;
}

button {
  font-family: SatansMinions, sans-serif;
}

a, a:hover {
  text-decoration: none !important;
}

a {
  color: #d4312b;
  transition: color .2s ease-out;
}

a:hover {
  color: #fd9145;
}

@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}

.octo-arm {
  transform-origin: 130px 106px;
}

.github-corner svg {
  fill: #f7f7f7;
  color: #333333;
  position: fixed;
  top: 0;
  border: 0;
  right: 0;
}
.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }
  20%,
  60% {
    transform: rotate(-25deg);
  }
  40%,
  80% {
    transform: rotate(10deg);
  }
}

@media (max-width: 500px) {
  body {
    font-size: 1rem;
    padding: 10px;
  }
  .collection {
    justify-content: center;
  }

  .github-corner:hover .octo-arm {
    animation: none;
  }
  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}